<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
    <h2>Network Interfaces</h2>
    <ul>
        {% for iface in interfaces %}
            <li>{{ iface }}</li>
        {% endfor %}
    </ul>

</body>
</html>
